@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    ;

}

h1,
h2 {
    color: #094067;
    border-bottom: 1px #5f6c7b solid;
    margin-bottom: 8px;

}

p {
    color: #5f6c7b;
    text-align: justify;
}

nav {
    position: fixed;
    height: 3em;
    background-color: #094067;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;

}

nav a {
    color: #fffffe;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ef4565;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 3em;
    position: relative;
    background-color: #fffffe;
    z-index: 0;
    padding-left: 20px;
    padding-right: 20px;

}

section {
    background-color: #d8eefe;
    border-radius: 20px;
    min-height: 100vh;
    width: 100%;
    color: #5f6c7b;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

section header {
    display: block;
    position: relative;
    top: 0;
    margin-top: 1em;
    font-size: 50px;
    padding-left: 40px;
    padding-right: 40px;


}

.caixa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
}

.bloco1 {
    height: 100%;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;

}

.flashcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;


}


.cards {
    width: 50%;
    padding: 1.5rem;
    flex: 0 auto;
    border-radius: 3px;
    background-color: #fffffe;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.cards p {
    text-align: start;
    font-size: 0.9rem;

}

#segundalei {
    font-size: 2em;
}


.cards:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}


.cards:last-child {
    margin-right: -20px;
}

.bloco2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img,
.container {
    max-height: 80vh;
    width: 400px;
    border-radius: 50px;

}

.container {

    overflow-y: auto;
    /* Scroll na vertical */
    overflow-x: hidden;
    /* Evita scroll lateral */
    padding: 50px;
    scrollbar-width: none;
    display: inline-block;
    flex-direction: column;
}

.box {
    width: 100%;
    padding: 1.5rem;
    flex: 0 auto;
    border-radius: 3px;
    background-color: #fffffe;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 1.5rem;
}

.box img {

    height: 80%;
    width: 100%;
}

.bloco:last-child {
    margin-bottom: 0;
}

section:last-child {
    margin-bottom: 1em;

}

/*Tratando a responsividades*/

@media (max-width: 1025px) {

    main {

        padding-left: 0;
        padding-right: 0;
        gap: 0;

    }

    section {
        border-radius: 0;
    }

    .caixa {
        flex-direction: column;
    }

    .bloco1,
    .bloco2,
    .container {
        width: 90%;
        margin: 20px;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .box {}

    img {
        height: 100%;
    }

    .box {
        font-size: 0.9em;
    }


}
@media (max-width:800px) {


    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .box{
        overflow: visible;
    }

}


@media (max-width:600px) {

    nav {
        font-size: 0.7em;
    }

    p {
        font-size: 0.8em;
    }

    .flashcards{
        flex-direction: column;
        align-items: center;
        
    }

    .cards:last-child {
        margin-right: 0px;
    }

    .container {
        flex-direction: column;
        gap: 30px;
    }

    section header{
        font-size: 30px
    }

    img {
        width: 300px;
        height: 400px;
    }

};



/* #sec1 { background: #ff5733; } Laranja */
/* #sec2 { background: #33aaff; } Azul */
/* #sec3 { background: #44cc44; } Verde */